{% include 'header.html' %}
<link rel="stylesheet" href="../static/style.css">
<section class='ContactSection'>
    <div class='ContactContainer'>
        <div class='contactInfo'>
            <h2>Contact Info</h2>
            <ul class='info'>
                <li>
                    <span><img src="../static/images/map2.png" alt="" /></span>
                    <span>Haramaya University <br />
                    Dire Dawa Ethiopia</span>
                </li>
                <li>
                    <span><img src="../static/images/mail.png" alt="" /></span>
                    <span>exampleDM@gmail.com</span>
                </li>
                <li>
                    <span><img src="../static/images/phone-call.png" alt="" /></span>
                    <span>+25199999999</span>
                </li>
            </ul>
        </div>
    
    <div class='contactForm'>
        <h2>Send a Message</h2>
        <form  onSubmit="">
        <div class='formBox'>
            <div class='inputBox w50'>
                <span>Full Name</span>
                <input/>
            </div>
           
            <div class='inputBox w50'>
                <span>Email Address</span>
                <input/>
            </div>
            
            <div class='inputBox w100'>
                <span>Write your message here...</span>
                <textarea name="" id=""></textarea>
            </div>
            <div class='inputBox w100'>
                <input type="submit" value="Send" />
            </div>
        </div>
      </form>
    </div>
</div>
</section>
</body>
</html>