{% include 'header.html' %}
<section class="login_container" >
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="center">
        <h1 class="log_col">Sign Up</h1>
        <form method="post">
          <div class="txt_field">
            <input type="text" required />
            <span></span>
            <label>Full Name</label>
          </div>
        
          <div class="txt_field">
            <input type="email" name='username' required />
            <span></span>
            <label>Email Address</label>
          </div>
          <div class="txt_field">
            <input type="password" name='password' required />
            <span></span>
            <label>Password</label>
          </div>
          <div class="txt_field">
            <input type="password" required />
            <span></span>
            <label>Confirm Password</label>
          </div>
          
          <input type="submit" value="SignUp" />
          
          <div class="signup_link">
          
          <a href="{{url_for('login')}}"><div>Already have an account?</div></a>
            <div class='loginButtons'>
                <div class="submit gray" >Sign Up</div>
            </div>
          </div>
          <div class=" theWhole">
            <div class=" firstineer">
                <div class=" lastOne">
                  <button type="button" class="btn btn-light" onClick={googleAuth}>
                      <i class="fab fa-google"></i>
                       Sign Up with Google
                  </button>
                </div>
            </div>
      </div>
        </form>
      </div>
</section>