{%include 'header.html'%}
    <div class="citiesPage">
        <h2>Ethiopia</h2>
        <div class="citiesList">
            <h3>All Cities</h3>
            <ul>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Addis Ababa</button></a>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Dire Dawa</button></a>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Bahir Dar</button></a>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Arbaminch</button></a>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Jima</button></a>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Mekele</button></a>
                <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-outline-dark">Gonder</button></a>
            </ul>
        </div>
    </div>
{%include 'footer.html'%}